.button {
  text-transform: capitalize;
  background-color: color(white);
  border-radius: rem-calc(24);
  border: 0;
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: darken($color: color(white), $amount: 5);
    transform: scale(1.1);
  }

  &__icon {
    margin-left: rem-calc(16);
  }

  &--primary {
    background-color: color(primary);
    &:hover {
      background-color: darken($color: color(primary), $amount: 5);
    }
  }

  &--transparent {
    background-color: transparent;
    color: color(primary);
  }
}
