.cart-item {
  &:not(:last-child) {
    margin-bottom: rem-calc(16);
  }

  &__image {
    img {
      width: 100%;
      min-height: rem-calc(56);
      height: auto;
      object-fit: cover;
    }
  }

  &__content-details {
    margin: 0 rem-calc(8);
    > * {
      margin: 0;
    }
    > :last-child {
      font-size: rem-calc(14);
    }
  }
  &__content-price {
    > * {
      margin: 0;
    }
  }

  p {
    margin: 0;
  }
}
