.fab {
  position: fixed;
  bottom: rem-calc(16);
  right: rem-calc(16);
  border: 0;
  box-shadow: 0 rem-calc(4) rem-calc(16) rgba($color: color(gray), $alpha: 0.25);
  height: rem-calc(56);
  width: rem-calc(56);

  &.ant-btn-lg {
    font-size: rem-calc(24);
  }
}
