.header {
  height: rem-calc(52);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;

  @include breakpoint(large up) {
    height: rem-calc(96);
  }

  &--sticky {
    @include breakpoint(large up) {
      background-color: color(black);
      box-shadow: 0 rem-calc(4) rem-calc(16)
        rgba($color: color(gray), $alpha: 0.25);
    }
  }

  > div {
    // height: 100%;

    > div {
      height: 100%;
    }
  }

  &__brand-logo {
    height: rem-calc(44);

    @include breakpoint(large up) {
      height: rem-calc(72);
    }

    img {
      height: 100%;
    }
  }

  &__nav-container {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 100%;
    background-color: color(white);

    @include breakpoint(large up) {
      position: relative;
      left: 0;
      height: max-content;
      background-color: transparent;
    }
    .nav {
      height: 100%;

      ul {
        list-style: none;
        text-align: center;
        margin: 0;

        @include breakpoint(large up) {
          display: flex;
          flex-direction: row;
        }

        li:not(:last-child) {
          @include breakpoint(large up) {
            margin-right: rem-calc(24);
          }
        }

        a {
          color: color(white);
          font-size: rem-calc(18);

          &:hover {
            color: color(primary);
          }
        }
      }
    }
  }
}

// Hamburger
$hamburger-line-width: rem-calc(1);
$hamburger-size: rem-calc(24);
$hamburger-color: color(white);

.hamburger-container {
  // position: fixed;
  cursor: pointer;
  padding: rem-calc(4);
  // margin-right: rem-calc(-20);
  align-self: center;

  @include breakpoint(large up) {
    display: none;
  }

  &.open {
    .hamburger {
      span {
        transform: rotate(315deg);

        &::before {
          opacity: 0;
        }

        &::after {
          top: 0;
          transform: rotate(-90deg);
        }
      }
    }
  }

  .hamburger {
    position: relative;
    width: $hamburger-size;
    height: $hamburger-size / 2;

    @include breakpoint(xlarge up) {
      display: none;
    }

    span {
      opacity: 1;
      left: 0;
      display: block;
      color: $hamburger-color;
      top: 50%;
      transform: none;

      &,
      &::after,
      &::before {
        content: "";
        position: absolute;
        background-color: $hamburger-color;
        width: 100%;
        height: $hamburger-line-width;
        transition: 0.6s ease-in-out;
      }

      &::before {
        top: -$hamburger-size / 4;
      }

      &::after {
        top: $hamburger-size / 4;
      }
    }
  }
}
