.hero {
  position: relative;
  height: 60vh;

  @include breakpoint(large up) {
    height: 80vh;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
  }

  &::after {
    background-color: color(primary);
    width: 40%;
  }

  &::before {
    background-color: rgba($color: color(primary), $alpha: 0.5);
    width: 60%;
  }

  .hero-bg {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    img,
    &::after {
      height: 100%;
      width: 100%;
    }

    img {
      object-fit: cover;
    }

    &::after {
      position: absolute;
      content: "";
      left: 0;
      background-color: rgba(color(black), 0.25);
    }
  }

  &__content {
    z-index: 1;
    color: color(black);
    width: 100%;
  }
}
