$input-height: rem-calc(48);

.input-field {
  width: 100%;
  position: relative;
  max-width: rem-calc(280);
  overflow: hidden;
  cursor: text;

  &__label {
    position: absolute;
    top: 50%;
    line-height: 0;
    left: rem-calc(16);
    font-size: rem-calc(16);
    color: color(gray);
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
  }

  &__input {
    appearance: none;
    width: 100%;
    border: rem-calc(1) solid color(gray-1);
    font-family: inherit;
    padding: rem-calc(8) rem-calc(16);
    height: $input-height;
    font-size: rem-calc(16);
    font-weight: 500;
    background: none;
    border-radius: rem-calc(4);
    color: #223254;
    transition: all 0.2s ease;

    &:hover {
      background: color(off-white);
    }

    &:focus {
      background: none;
      outline: none;
      color: color(dark);
      border-color: color(primary);

      + .input-field__label {
        color: color(dark);
        background-color: color(white);
        padding: 0 rem-calc(4);
        transform: translateY(-($input-height/2)) scale(0.8);
      }
    }

    &:valid {
      + .input-field__label {
        transform: translateY(-($input-height/2)) scale(0.8);
      }
    }
  }
}
