.meal-card {
  background-color: color(white);
  // margin-bottom: rem-calc(32);
  &__image-wrapper {
    width: 100%;
    height: rem-calc(200);
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__quantity-control {
    display: flex;

    span {
      cursor: pointer;
    }

    p {
      margin: rem-calc(-3) rem-calc(8) 0 rem-calc(8);
    }
  }

  &__content {
    padding: rem-calc(16);

    &-header {
      display: flex;
      justify-content: space-between;
    }

    &-body {
      border-top: rem-calc(1) solid color(lighter-gray);
      border-bottom: rem-calc(1) solid color(lighter-gray);
      padding-top: rem-calc(16);
      padding-bottom: rem-calc(16);
    }
    &-footer {
      display: flex;
      justify-content: space-between;
      margin-top: rem-calc(12);

      &,
      p {
        margin-bottom: 0;
      }
    }
  }
}
