.pill {
  font-size: rem-calc(12);
  padding: 0 rem-calc(12);
  // border: rem-calc(1) solid color(dark);
  color: darken($color: color(primary), $amount: 20);
  background-color: rgba($color: color(primary), $alpha: 0.25);
  border-radius: rem-calc(12);
  outline: none;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &--selected {
    border-color: color(primary);
    background-color: color(primary);
  }
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover,
.ant-tag-checkable:hover,
.pill:hover,
.pill--selected {
  color: color(dark);
}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  background-color: rgba($color: color(primary), $alpha: 0.25);
  border-color: color(primary);
}
