.shopping-cart {
    &__footer {
        position: absolute;
        left: 0;
        bottom: rem-calc(16);
        width: 100%;
        padding: 0 rem-calc(24);
    }
    .ant-drawer-body {
        padding-bottom: 5rem;
    }
    .ant-drawer-content-wrapper {
        height: auto!important;
        @include breakpoint(large up) {
            height: 100vh!important;
        }
    }
}