$spacings: (
  xs: 24,
  sm: 48,
  md: 72,
  lg: 96,
  xl: 120
);

.section--sm {
  padding: rem-calc(32) 0;
}
.section--md {
  padding: rem-calc(64) 0;
}
.section--lg {
  padding: rem-calc(96) 0;
}

@each $space, $val in $spacings {
  .space-#{$space} {
    margin-top: rem-calc($val);
    margin-bottom: rem-calc($val);
  }
}

@each $margin in (1, 2, 3) {
  .margin-#{$margin} {
    margin: $margin * rem-calc(4);
  }
  .margin-vertical-#{$margin} {
    margin-top: $margin * rem-calc(4);
    margin-bottom: $margin * rem-calc(4);
  }
  .margin-right-#{$margin} {
    margin-right: $margin * rem-calc(4);
  }
}
