// WEIGHTS
@each $weight, $val in (light: 300, bold: 700) {
  .font-#{$weight} {
    font-weight: $val;
  }
}

// STYLES
@each $style in (italic, normal) {
  .font-#{$style} {
    font-style: $style;
  }
}

// ALIGNMENTS
@each $alignment in (left, center, right) {
  .text-#{$alignment} {
    text-align: $alignment;
  }
}
