// Add your color map
$colors: (
  primary: #fadb14,
  white: #ffffff,
  off-white: #f5f5f5,
  light-gray: #dfdfdf,
  lighter-gray: #e7e7e7,
  gray: #707070,
  gray-1: #a7a4a4,
  dark: #3c3c3c,
  black: #000000
);

@function color($color) {
  @return map-get($colors, $color);
}
